In [217]:
import numpy as np
import pandas as pd

In [218]:
df_goals = pd.read_csv('data/goalscorers.csv', parse_dates=['date'])
df_results = pd.read_csv('data/results.csv', parse_dates=['date'])
df_shootouts = pd.read_csv('data/shootouts.csv', parse_dates=['date'])

In [219]:
df_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44341 entries, 0 to 44340
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        44341 non-null  datetime64[ns]
 1   home_team   44341 non-null  object
 2   away_team   44341 non-null  object
 3   home_score  44341 non-null  int64
 4   away_score  44341 non-null  int64
 5   tournament  44341 non-null  object
 6   city        44341 non-null  object
 7   country     44341 non-null  object
 8   neutral     44341 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(5)
memory usage: 2.7+ MB

In [220]:
df_results.head(10)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False

In [221]:
df_results.tournament.unique()

array(['Friendly', 'British Home Championship', 'Évence Coppée Trophy',
       'Copa Lipton', 'Copa Newton', 'Copa Premio Honor Argentino',
       'Copa Premio Honor Uruguayo', 'Copa Roca', 'Copa América',
       'Copa Chevallier Boutell', 'Nordic Championship',
       'Central European International Cup', 'Baltic Cup', 'Balkan Cup',
       'FIFA World Cup', 'Copa Rio Branco',
       'FIFA World Cup qualification', 'Bolivarian Games',
       'CCCF Championship', 'NAFU Championship', 'Copa Oswaldo Cruz',
       'Pan American Championship', 'Copa del Pacífico',
       "Copa Bernardo O'Higgins", 'AFC Asian Cup qualification',
       'Atlantic Cup', 'AFC Asian Cup', 'African Cup of Nations',
       'Copa Paz del Chaco', 'Merdeka Tournament',
       'UEFA Euro qualification', 'UEFA Euro',
       'Windward Islands Tournament',
       'African Cup of Nations qualification', 'Vietnam Independence Cup',
       'Copa Carlos Dittborn', 'Phillip Seaga Cup',
       'CONCACAF Championship', 'Copa Juan Pinto Durán', 'Arab Cup',
       'South Pacific Games', 'CONCACAF Championship qualification',
       'Copa Artigas', 'GaNEFo', "King's Cup", 'Gulf Cup',
       'Indonesia Tournament', 'Korea Cup', 'Palestine Cup',
       'Brazil Independence Cup', 'Copa Ramón Castilla',
       'Oceania Nations Cup', 'CECAFA Cup', 'Kuneitra Cup',
       'Copa Félix Bogado', 'Real Madrid 75th Anniversary Cup',
       'Beijing International Friendship Tournament', 'Kirin Cup',
       'CFU Caribbean Cup qualification', 'CFU Caribbean Cup',
       'Amílcar Cabral Cup', 'FIFA 75th Anniversary Cup',
       'Guangzhou International Friendship Tournament', 'Mundialito',
       'West African Cup', 'Nehru Cup', 'Merlion Cup', 'Great Wall Cup',
       'UDEAC Cup', 'Rous Cup', 'CONMEBOL–UEFA Cup of Champions',
       'Lunar New Year Cup', 'Arab Cup qualification',
       'Tournoi de France', 'Malta International Tournament',
       'Matthews Cup', 'Tournament Burkina Faso', 'Island Games',
       'Dynasty Cup', 'Dakar Tournament', 'UNCAF Cup', 'Gold Cup',
       'USA Cup', 'Jordan International Tournament', 'Confederations Cup',
       'United Arab Emirates Friendship Tournament',
       'Oceania Nations Cup qualification', 'Simba Tournament',
       'SAFF Cup', 'AFF Championship', 'King Hassan II Tournament',
       'Cyprus International Tournament', 'Dunhill Cup',
       'COSAFA Cup qualification', 'COSAFA Cup', 'Gold Cup qualification',
       'SKN Football Festival', 'UNIFFAC Cup', 'WAFF Championship',
       'Millennium Cup', 'Cup of Ancient Civilizations',
       "Prime Minister's Cup", 'EAFF Championship', 'TIFOCO Tournament',
       'Afro-Asian Games', 'AFC Challenge Cup', 'FIFI Wild Cup',
       'ELF Cup', 'Viva World Cup', 'AFC Challenge Cup qualification',
       'African Nations Championship', 'VFF Cup', 'Dragon Cup',
       'ABCS Tournament', 'Nile Basin Tournament', 'Nations Cup',
       'Copa Confraternidad', 'Pacific Games',
       'Superclásico de las Américas', 'Kirin Challenge Cup', 'OSN Cup',
       'CONIFA World Football Cup', 'CONIFA European Football Cup',
       'Copa América qualification', 'World Unity Cup',
       'Pacific Mini Games', 'Intercontinental Cup',
       'AFF Championship qualification', 'UEFA Nations League',
       'CONCACAF Nations League qualification',
       'African Nations Championship qualification',
       'Atlantic Heritage Cup', 'Inter Games Football Tournament',
       'CONCACAF Nations League', 'Three Nations Cup',
       'Mahinda Rajapaksa Cup', 'Navruz Cup',
       'CONIFA Africa Football Cup', 'CONIFA South America Football Cup',
       "MSG Prime Minister's Cup"], dtype=object)

In [222]:
worldCup = df_results[df_results['tournament'] == 'FIFA World Cup']
worldCup['year'] = worldCup['date'].dt.year

C:\Users\felip\AppData\Local\Temp\ipykernel_14036\3511225672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  worldCup['year'] = worldCup['date'].dt.year

In [223]:
worldCup

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
1311,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True,1930
1312,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True,1930
1313,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True,1930
1314,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True,1930
1315,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True,1930
...,...,...,...,...,...,...,...,...,...,...
44336,2022-12-04,England,Senegal,3,0,FIFA World Cup,Al Khor,Qatar,True,2022
44337,2022-12-05,Japan,Croatia,1,1,FIFA World Cup,Al Wakrah,Qatar,True,2022
44338,2022-12-05,Brazil,South Korea,4,1,FIFA World Cup,Doha,Qatar,True,2022
44339,2022-12-06,Morocco,Spain,0,0,FIFA World Cup,Al Rayyan,Qatar,True,2022
44340,2022-12-06,Portugal,Switzerland,6,1,FIFA World Cup,Lusail,Qatar,True,2022

In [224]:
worldCup_mock = worldCup.melt(id_vars=['year', 'date', 'home_team', 'away_team', 'tournament', 'city', 'country', 'neutral'], value_vars=['home_score', 'away_score'], var_name='score_type', value_name='score')
worldCup_mock

,year,date,home_team,away_team,tournament,city,country,neutral,score_type,score
0,1930,1930-07-13,Belgium,United States,FIFA World Cup,Montevideo,Uruguay,True,home_score,0
1,1930,1930-07-13,France,Mexico,FIFA World Cup,Montevideo,Uruguay,True,home_score,4
2,1930,1930-07-14,Brazil,Yugoslavia,FIFA World Cup,Montevideo,Uruguay,True,home_score,1
3,1930,1930-07-14,Peru,Romania,FIFA World Cup,Montevideo,Uruguay,True,home_score,1
4,1930,1930-07-15,Argentina,France,FIFA World Cup,Montevideo,Uruguay,True,home_score,1
...,...,...,...,...,...,...,...,...,...,...
1907,2022,2022-12-04,England,Senegal,FIFA World Cup,Al Khor,Qatar,True,away_score,0
1908,2022,2022-12-05,Japan,Croatia,FIFA World Cup,Al Wakrah,Qatar,True,away_score,1
1909,2022,2022-12-05,Brazil,South Korea,FIFA World Cup,Doha,Qatar,True,away_score,1
1910,2022,2022-12-06,Morocco,Spain,FIFA World Cup,Al Rayyan,Qatar,True,away_score,0
1911,2022,2022-12-06,Portugal,Switzerland,FIFA World Cup,Lusail,Qatar,True,away_score,1

In [225]:
worldCup_mock2 = worldCup_mock.melt(id_vars=['year', 'date', 'tournament', 'city', 'country', 'neutral', 'score_type', 'score'], value_vars=['home_team', 'away_team'], var_name='team_type', value_name='team')

In [226]:
total_score_by_team = worldCup_mock2.groupby(['year', 'team'])['score'].sum().reset_index().sort_values(by='year', ascending=True)
total_score_by_team.head(10)

    year           team  score
0   1930      Argentina     27
12  1930     Yugoslavia     14
11  1930        Uruguay     18
9   1930        Romania      8
8   1930           Peru      5
7   1930       Paraguay      4
10  1930  United States     13
5   1930         France      7
4   1930          Chile      8
3   1930         Brazil      7

In [227]:
years_with_most_score = worldCup_mock2.groupby(['year'])['score'].sum().reset_index().sort_values(by='year', ascending=True)
years_with_most_score.head(10)

   year  score
0  1930    140
1  1934    140
2  1938    168
3  1950    176
4  1954    280
5  1958    252
6  1962    178
7  1966    178
8  1970    190
9  1974    194

In [228]:
total_score_by_team['cum_score'] = total_score_by_team.groupby('team')['score'].cumsum()
total_score_by_team

     year        team  score  cum_score
0    1930   Argentina     27         27
12   1930  Yugoslavia     14         14
11   1930     Uruguay     18         18
9    1930     Romania      8          8
8    1930        Peru      5          5
..    ...         ...    ...        ...
458  2022   Australia     10         54
457  2022   Argentina     10        240
487  2022     Uruguay      4        165
471  2022        Iran     11         44
488  2022       Wales      7         15

[489 rows x 4 columns]

In [229]:
url = 'https://github.com/programacaodinamica/analise-dados/blob/master/dados/countries-fifa-flags.csv?raw=true'
flags = pd.read_csv(url)
flags

,code,country,confederation,url
0,AFG,Afghanistan,AFC,https://countryflagsapi.com/png/afghanistan
1,AIA,Anguilla,CONCACF,https://countryflagsapi.com/png/anguilla
2,ALB,Albania,UEFA,https://countryflagsapi.com/png/albania
3,ALG,Algeria,CAF,https://countryflagsapi.com/png/algeria
4,ASA,American Samoa,OFC,https://countryflagsapi.com/png/american%20samoa
...,...,...,...,...
206,ISV,US Virgin Islands,CONCACF,https://countryflagsapi.com/png/us%20virgin%20...
207,WAL,Wales,UEFA,https://countryflagsapi.com/png/wales
208,YEM,Yemen,AFC,https://countryflagsapi.com/png/yemen
209,ZAM,Zambia,CAF,https://countryflagsapi.com/png/zambia
210,ZIM,Zimbabwe,CAF,https://countryflagsapi.com/png/zimbabwe

In [230]:
countries = df_results.country.unique()

import csv
import requests

# Set the base URL for the API
api_url = 'https://countryflagsapi.com/png'

# Open the CSV file for writing
with open('flags.csv', 'w') as csvfile:
    # Create a CSV writer object
    writer = csv.writer(csvfile)

    # Write the header row
    writer.writerow(['country', 'flag_URL'])

    # Loop through the countries
    for country in countries:
        # Build the URL for the flag image
        flag_url = f'{api_url}/{country}'

        # Write the country name and flag URL to the CSV file
        writer.writerow([country, flag_url])
flags = pd.read_csv('data/flags.csv', encoding='ISO-8859-1', engine='python')
flags

,country,flag_URL
0,Scotland,https://countryflagsapi.com/png/Scotland
1,England,https://countryflagsapi.com/png/England
2,Wales,https://countryflagsapi.com/png/Wales
3,Ireland,https://countryflagsapi.com/png/Ireland
4,United States,https://countryflagsapi.com/png/United States
...,...,...
262,Turks and Caicos Islands,https://countryflagsapi.com/png/Turks and Caic...
263,South Sudan,https://countryflagsapi.com/png/South Sudan
264,Kosovo,https://countryflagsapi.com/png/Kosovo
265,East Timor,https://countryflagsapi.com/png/East Timor
266,Tahiti,https://countryflagsapi.com/png/Tahiti

In [231]:
total_score_by_team = total_score_by_team.merge(flags, left_on='team', right_on='country', how='left')

In [232]:
total_score_by_team

,year,team,score,cum_score,country,flag_URL
0,1930,Argentina,27,27,Argentina,https://countryflagsapi.com/png/Argentina
1,1930,Yugoslavia,14,14,Yugoslavia,https://countryflagsapi.com/png/Yugoslavia
2,1930,Uruguay,18,18,Uruguay,https://countryflagsapi.com/png/Uruguay
3,1930,Romania,8,8,Romania,https://countryflagsapi.com/png/Romania
4,1930,Peru,5,5,Peru,https://countryflagsapi.com/png/Peru
...,...,...,...,...,...,...
484,2022,Australia,10,54,Australia,https://countryflagsapi.com/png/Australia
485,2022,Argentina,10,240,Argentina,https://countryflagsapi.com/png/Argentina
486,2022,Uruguay,4,165,Uruguay,https://countryflagsapi.com/png/Uruguay
487,2022,Iran,11,44,Iran,https://countryflagsapi.com/png/Iran
488,2022,Wales,7,15,Wales,https://countryflagsapi.com/png/Wales